In [1]:
import h5py
import pandas as pd

In [3]:
filepath = '0803_cr7_intensities'
f = h5py.File(filepath,'r')

In [4]:
a_group_key = list(f.keys())[0]
dset = f[a_group_key]
data = dset[:]

In [5]:
df = pd.DataFrame(data)
df.sequence = df.sequence.str.decode('utf-8')

In [6]:
df.head()

                   sequence                                  median intensties
0    TTTGATCTGAAATATAGTCCTC  [5924.6208755714215, 6672.256511422405, 7027.0...
1      TTTGACTAAATATTCAGGTC  [7886.635524101301, 8517.277643781206, 8828.94...
2    TGTTATCTGAAATATTCAGGTC  [10620.833055780044, 10342.965232244012, 10610...
3  TTTGATCTGATACATATTCAGGTC  [6328.803565593105, 6827.525546735309, 6702.06...
4    TTTGATCTGAAATCTTCAAGTC  [9640.404512417408, 9008.02510752511, 9707.422...

In [8]:
df["median intensties"][0]

array([ 5924.62087557,  6672.25651142,  7027.03246924,  7703.59378778,
        8421.12166007,  8919.66818973,  9837.50702731, 11932.9299389 ,
       13290.94500061, 15879.57366531, 17931.29391076])

In [9]:
df.head()

                   sequence                                  median intensties
0    TTTGATCTGAAATATAGTCCTC  [5924.6208755714215, 6672.256511422405, 7027.0...
1      TTTGACTAAATATTCAGGTC  [7886.635524101301, 8517.277643781206, 8828.94...
2    TGTTATCTGAAATATTCAGGTC  [10620.833055780044, 10342.965232244012, 10610...
3  TTTGATCTGATACATATTCAGGTC  [6328.803565593105, 6827.525546735309, 6702.06...
4    TTTGATCTGAAATCTTCAAGTC  [9640.404512417408, 9008.02510752511, 9707.422...