In [1]:
import h5py
import pandas as pd

In [3]:
filepath = '1222_cr4_pfs_kd_fitting_jami_filtered_free_Imax_25'
f = h5py.File(filepath,'r')

In [4]:
a_group_key = list(f.keys())[0]
dset = f[a_group_key]
data = dset[:]

In [5]:
df = pd.DataFrame(data)
df.sequence = df.sequence.str.decode('utf-8')

In [6]:
df.head()

,sequence,kd,kd_uncertainty,y_intercept,delta_y,count
0,TAGCCATAGAGAGGTTATCCGCTCATTC,27.870754,6.057151,32218.699990,37555.863557,99
1,TAGCCATAGAGAGGTTATCCGCTCATTA,31.129821,12.056692,33856.371707,38209.413132,108
2,TGCCCATAGAGAGGTTATCCGCTCAAAG,86.894212,71.425489,32053.234248,37620.010885,49
3,GTTCCATAGAGAGGTTATCCGCTCAGCC,51.653279,136109.298882,31677.484825,33738.126193,87
4,GTTCCATAGAGAGGTTATCCGCTCAGCA,33.309335,35.586784,30916.589491,32476.704484,121

In [7]:
df.shape

(3998, 6)